<ion-view title="Add Tab" id="page4">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"> Cancel</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> Next</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
  </ion-content>
</ion-view>