<ion-view title="Comments" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="comments-list5">
      <ion-item class="item-avatar item-icon-right" id="comments-list-item18">
        <h2>user1</h2>
        <p>blablabla</p>
        <i class="icon ion-ios-heart-outline"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="comments-list-item19">
        <h2>user2</h2>
        <p>bla2bla2</p>
        <i class="icon ion-ios-heart-outline"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>