<div ng-app>
<ion-view title="Comments" id="page7">
    <div ng-controller="HomeCtrl">
  <ion-content padding="true" class="has-header" ng-init="showPosts()">
      <div class="list" ng-repeat="post in posts">
    <ion-list id="comments-list5">
      <ion-item class="item-avatar item-icon-right" id="comments-list-item18">
          <img src="{{posts[$index].avatar}}"> 
        <div class="item-text-wrap">  
        <h2 style="font-size: 0.8em; display:inline">{{post.commenter}}</h2>
        <p style="font:size:0.8em; display:inline">{{post.comment}}</p>
        </div>
        <i class="icon ion-ios-heart-outline" style="font-size: 0.9em"></i>
      </ion-item>
    </ion-list>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>