<ion-view title="Home Page" id="page2">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-camera"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-send"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="homePage-button-bar1" class="button-bar"></div>
    <div class="list card" id="homePage-card22">
      <ion-item class="item-avatar item-icon-right" id="homePage-list-item8">
        <h2>Username</h2>
        <i class="icon ion-android-more-vertical"></i>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </div>
    <button id="homePage-button14" class="button button-light  icon ion-ios-heart-outline"></button>
    <a ui-sref="tabsController.comments" id="homePage-button15" class="button button-light  icon ion-ios-chatbubble-outline"></a>
    <button id="homePage-button17" style="text-align:left;" class="button button-light button-small button-block icon-left ion-heart"></button>
    <ion-list id="homePage-list4">
      <ion-item id="homePage-list-item15">Comment 1</ion-item>
      <ion-item id="homePage-list-item16">Comment 2</ion-item>
      <ion-item id="homePage-list-item17">Comment 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>