<div ng-app>
<ion-view title="Instagram" id="page2">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-camera"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-send"></button>
  </ion-nav-buttons>
    <div ng-controller="HomeCtrl">
    <ion-content padding="true" class="has-header" ng-init="showPosts()">
        <div class="list" ng-repeat="post in posts">
        <div id="homePage-button-bar1" class="button-bar">
        <div class="list card" id="homePage-card22">
            <ion-item class="item-avatar item-icon-right" id="homePage-list-item8">
                <img src="{{posts[$index].avatar}}">
                <h2 style="font-size: 0.8em">{{post.username}}</h2>
                <i class="icon ion-android-more-vertical"></i>
            </ion-item>
            <img ng-src="{{posts[$index].picture}}" style="width:100%" />
        </div>
        </div>
        <button id="homePage-button14" class="button button-light  icon ion-ios-heart-outline" ng-click="increment()"></button>
        <a ui-sref="tabsController.comments" id="homePage-button15" class="button button-light  icon ion-ios-chatbubble-outline"></a>
            <button id="homePage-button17" style="text-align:left;" class="button button-light button-small button-block icon-left ion-heart">
            <p><b>{{post.like}} likes</b></p>
            </button> 
           <button ng-click="likeClick()" ng-init="liked='Like'; likeCount=0">{{liked}} {{likeCount}}</button>
        <div style="font-size: 0.9em">
            <p style="display:inline"><b>{{post.username}}</b> &nbsp; {{post.caption}}</p>
            <a ui-sref="tabsController.comments" id="homePage-button15" style="text-decoration: none">
            <p style="font-size:0.9em; color:lightslategrey">View all {{post.commentsNumber}} comments</p>
            </a>
            <p><b>{{post.commenter}}</b> {{post.comment}}</p>
            <p style="color:lightslategrey">{{post.postedTime}} hours ago</p>
        </div>
         </div>
</div>
</div>
</ion-content>
</ion-view>
