<ion-view title="" id="page5" ng-app="app">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-stable icon ion-android-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="row" ng-controller="HomeCtrl"  ng-init="showPosts()">
        <ion-item class="item-avatar item-icon-right">
                <img style="width: 4em; height: auto; " ng-src="{{posts[0].avatar}}">
        </ion-item>
        <div class="col col-25 no-max-width">
               <span style="text-align: center"><b>{{posts[0].posts}}</b><br> posts</span>
        </div>
        <div class="col col-25 no-max-width">    
               <span style="text-align: center"><b>{{posts[0].followers}}</b> <br> followers</span>
        </div>
        <div class="col col-25 no-max-width">
               <span style="text-align: center"><b>{{posts[0].following}}</b><br>  following</span>
        </div>
    </div>
    <div id="profileTab-button-bar3" class="button-bar">
      <button id="profileTab-button27" class="button button-light  button-block icon ion-android-apps"></button>
      <button id="profileTab-button28" class="button button-light  button-block icon ion-ios-list-outline"></button>
      <button id="profileTab-button29" class="button button-light  button-block icon ion-ios-person-outline"></button>
    </div>
  </ion-content>
</ion-view>
