<ion-view title="" id="page5" ng-app="app">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-stable icon ion-android-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="row" ng-controller="HomeCtrl"  ng-init="showPosts()">
        <ion-item class="item-avatar item-icon-right" style="border-style: none; display: block; position: static; width: 100px; height: 100px">
          <img style="width: 80%;height: auto; max-width:100px;max-height:100px;" ng-src="{{posts[0].avatar}}">
        </ion-item>

        <div class="col col-25 no-max-width">
          <span style="text-align: center"><b>{{posts[0].posts}}</b><br> posts</span>
        </div>
        <div class="col col-25 no-max-width">
          <span style="text-align: center"><b>{{posts[0].followers}}</b> <br> followers</span>
        </div>
        <div class="col col-25 no-max-width">
          <span style="text-align: center"><b>{{posts[0].following}}</b><br>  following</span>
        </div>
    </div>
    <div class="row">
      <button class="col col-60" style="text-align: center ;position: absolute;margin-left: 9.5em; margin-top: -3em">Edit your profile</button>
    </div>
   <div id="button_panel_part" ng-controller="PanelController as panel" ng-init="panel.selectTab(1)">
     <div id="profileTab-button-bar3" class="button-bar">
      <button id="profileTab-button27" class="button button-light  button-block icon ion-android-apps" ng-click="panel.selectTab(1)" ng-class="{active: panel.isSelected(1)}"></button>
      <button id="profileTab-button28" class="button button-light  button-block icon ion-ios-list-outline" ng-click="panel.selectTab(2)" ng-class="{active: panel.isSelected(2)}"></button>
      <button id="profileTab-button29" class="button button-light  button-block icon ion-ios-person-outline" ng-click="panel.selectTab(3)" ng-class="{active: panel.isSelected(3)}"></button>
     </div>

     <div class="panel" ng-show="panel.isSelected(1)">
       <p>111</p>
     </div>
     <div class="panel" ng-show="panel.isSelected(2)">
      <p>22</p>
     </div>
     <div class="panel" ng-show="panel.isSelected(3)">
      <p>33</p>
     </div>

   </div>
  </ion-content>
</ion-view>
