<ion-view title="Profile Tab" id="page5">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-stable icon ion-android-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="profileTab-list7">
      <ion-item class="item-avatar" id="profileTab-list-item14">
        <h2>user</h2>
      </ion-item>
    </ion-list>
    <div id="profileTab-button-bar3" class="button-bar">
      <button id="profileTab-button27" class="button button-light  button-block icon ion-android-apps"></button>
      <button id="profileTab-button28" class="button button-light  button-block icon ion-ios-list-outline"></button>
      <button id="profileTab-button29" class="button button-light  button-block icon ion-ios-person-outline"></button>
    </div>
  </ion-content>
</ion-view>