<ion-view title="Search Tab" hide-nav-bar="true" id="page3">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="searchTab-form3" class="list">
      <label class="item item-input" id="searchTab-search1" name="Search_box">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </form>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
  </ion-content>
</ion-view>