<div ng-app="app">
  <ion-view title="Search Tab" hide-nav-bar="true" id="page3">
    <div ng-controller="HomeCtrl">
      <ion-content padding="true" class="manual-ios-statusbar-padding"  ng-init="showPosts()">
        <form id="searchTab-form3" class="list">
          <label class="item item-input" id="searchTab-search1" name="Search_box">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
          </label>
        </form>
        <div style="margin:0; display: inline" ng-repeat="post in posts">
          <img ng-src="{{posts[$index].picture}}" style="width:32.3333%" />
        </div>
      </ion-content>
    </div>
  </ion-view>
</div>
